<nav class="bg-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customer-requests" routerLinkActive="active">
          <span data-feather="file"></span>
          Customer Requests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/payment-details" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Payment Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/upload-data" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Upload Data
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/downloads" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Downloads
        </a>
      </li>
    </ul>
  </div>
</nav>
