<nav class="bg-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">
          <span data-feather="file"></span>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products/pending" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Pending Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customers" routerLinkActive="active" >
          <span data-feather="users"></span>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customer-issues" routerLinkActive="active" >
          <span data-feather="users"></span>
          Customer issues
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/feedbacks" routerLinkActive="active" >
          <span data-feather="users"></span>
          Feedbacks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/vendors" routerLinkActive="active" >
          <span data-feather="users"></span>
          Vendors
        </a>
      </li>
    </ul>
  </div>
</nav>
