<app-header></app-header>
        <!-- Page Title -->
        <section class="page-title">
          <div class="background-container">
            <img
              class="left-image"
              src="assets/images/background/header-left-bg.png"
              alt=""
            />
            <img
              class="right-image"
              src="assets/images/background/service-right-bg.png"
              alt=""
            />
          </div>
          <div class="service-container">
            <div class="section-icons-outer parallax-scene-1">
              <div
                data-depth="0.20"
                class="pattern-layer"
                style="background-image: url(images/background/pattern-8.png)"
              ></div>
            </div>

            <div class="auto-container">
              <h1>Services</h1>
              <ul class="page-breadcrumb">
                <li><a href="index.html">home</a></li>
                <li>Services</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Page Title -->

    <!-- Services Section -->
    <section class="services-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">our services</div>
          <h2>
            We ensure best insurance services <br />
            for our clients.
          </h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-3">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer-two"
              style="background-image: url(assets/images/background/pattern-4.png)"
            ></div>
          </div>
          <div class="three-item-carousel owl-carousel owl-theme">
            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/two-wheeler-insurance"
                    ><img src="assets/images/resource/service-1.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4><a routerLink="/services/two-wheeler-insurance">Two Wheeler Insurance</a></h4>
                  <div class="text">
                    General Insurance Offers Two Wheeler Annual and Multiyear policies.
                  </div>
                  <a routerLink="/services/two-wheeler-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/car-insurance"
                    ><img src="assets/images/resource/service-2.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4><a routerLink="/services/car-insurance">Car Insurance</a></h4>
                  <div class="text">
                    General Insurance offers various online insurance policies and car insurance renewal policies.
                  </div>
                  <a routerLink="/services/car-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/health-insurance"
                    ><img src="assets/images/resource/service-3.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4>
                    <a routerLink="/services/health-insurance">Health Insurance</a>
                  </h4>
                  <div class="text">
                    Your responsible health insurance companion, for best health care.
                  </div>
                  <a routerLink="/services/health-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
<app-footer></app-footer>
