<header class="row d-flex navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
  <a class="navbar-brand col-md-3 col-xs-8 col-lg-2 me-0 px-3 w-75" routerLink="/admin/dashboard">Admin Panel</a>
  <button class="col-xs-4 navbar-toggler d-md-none collapsed mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-75" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" routerLink="/">Sign out</a>
    </div>
  </div>
</header>
