<app-header></app-header>
        <!-- Page Title -->
        <section class="page-title">
          <div class="background-container">
            <img
              class="left-image"
              src="assets/images/background/header-left-bg.png"
              alt=""
            />
            <img
              class="right-image"
              src="assets/images/background/service-single-right-bg.png"
              alt=""
            />
          </div>
          <div
            class="service-container"
            style="
              background-image: url('images/background/services-left-bg.html');
            "
          >
            <div class="section-icons-outer parallax-scene-1">
              <div
                data-depth="0.20"
                class="pattern-layer"
                style="background-image: url(images/background/pattern-8.png)"
              ></div>
            </div>

            <div class="auto-container">
              <h1>Health Insurance</h1>
              <ul class="page-breadcrumb">
                <li><a routerLink="/services">Services</a></li>
                <li>Health Insurance</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Page Title -->

        <!-- Services Detail Section -->
        <section class="services-detail-section bg-white">
          <div class="auto-container">
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-2">
                <div
                  data-depth="0.30"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                  <div class="inner-column">
                    <div class="image">
                      <span class="triangle-one"></span>
                      <span class="triangle-two"></span>
                      <img src="assets/images/gallery/healthpolicy-image.webp" alt="" />
                    </div>
                  </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                  <div class="inner-column">
                    <h2>Health Insurance Benefits That Come With Beema Dukaan Insurance</h2>
                    <div class="bold-text">
                      Beema Dukaan Insurance offers you a wide range of health insurance schemes and policies.
                    </div>
                    <div class="text">
                      Health Insurance has become a necessity today more than ever before. While healthcare costs have been rising for the past few years, the COVID-19 pandemic has made the need for health insurance more pronounced than ever before.
                    </div>
                    <div class="text">
                      Medical procedures, planned or unplanned, are by nature stressful. The cost incurred during the treatment should not add to the stress. Moreover, it is far from ideal if your financial situation influences the kind of treatment that you are opting for your loved one.
                    </div>
                    <div class="text">
                      At Beema Dukaan, we have crafted Health Insurance policies that take care of hospitalisation and treatment costs to lessen the blow brought upon by an unforeseen accident and illness.
                    </div>
                  </div>
                </div>


                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-2">Why Beema Dukaan Insurance  </h3>
                    <div class="text">
                      We at Liberty General Insurance (LGI) ensure that you have the most hassle-free experience when it comes to dealing with a sensitive issue such as health insurance. We draw our experience and competence from Liberty Mutual Insurance Group, which was founded in the year 1912 and now has over 900 offices over the world. Under Liberty Mutual's supervision, we intend to build a customer-centric business to address the distinct needs of individual and corporate customers.
                    </div>
                    <div class="text">Liberty General Insurance Ltd. is a joint venture between Liberty Citystate holdings PTE Ltd, a group company of US Headquartered Liberty Mutual Insurance Group, a leading multinational property and casualty group, Enam Securities, a privately owned and managed firm that makes long-term investments in listed companies, as well as backs entrepreneurs building valuable private companies and DP Jindal Group, an industrial conglomerate.
                    </div>
                    <div class="text">Liberty India General Insurance commenced operations in 2013 with the aim of providing comprehensive retail, commercial and industrial insurance solutions. The company has an employee strength of 1200+ over a network of 110 offices in 95 cities across 29 states. Its partner network consists of about 5000+ hospitals and more than 4000+ auto service centres.                    </div>
                  </div>
                </div>

                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-2">What Is Health Insurance? </h3>
                    <div class="text">Health insurance is a type of insurance that protects you and your family from unforeseen medical emergencies. It covers medical treatments or surgical procedures and can also cover the cost of doctor consultation, prescription drugs, and even post-surgical care. In other words, health insurance shields you from the financial strain brought by a major illness or a severe accident.
                    </div>
                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-2">Why Do I Need Health Insurance?
                    </h3>
                    <div class="text">Health care costs have been increasing over the years and can often amount to several lakhs if it involves complicated surgeries or long-drawn-out treatments for diseases such as cancer. In such cases, the treatment itself can threaten your way of life by eating into your savings. If an illness hits you or your family member early in your life, most of your earnings will go into financing the treatment, leaving you very little to save for your future. It is not just the treatment or the expensive surgery but the regular care that the patient needs, in some cases for life, that adds to the cost. Regular care includes the cost of prescription drugs, doctor consultation, physiotherapy, follow-up health checks, and regular diagnostic tests.
                    </div>
                    <div class="text">Health care costs have been increasing over the years and can often amount to several lakhs if it involves complicated surgeries or long-drawn-out treatments for diseases such as cancer. In such cases, the treatment itself can threaten your way of life by eating into your savings. If an illness hits you or your family member early in your life, most of your earnings will go into financing the treatment, leaving you very little to save for your future. It is not just the treatment or the expensive surgery but the regular care that the patient needs, in some cases for life, that adds to the cost. Regular care includes the cost of prescription drugs, doctor consultation, physiotherapy, follow-up health checks, and regular diagnostic tests.
                    </div>
                    <div class="text">The general principle of insurance is to shield you from the uncertainties of life. While life insurance provides a financial buffer to your family if you lose your life, health insurance provides you and your family a cushion to ease the burden of cost in the event of a medical emergency.
                    </div>
                  </div>
                </div>

                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-2">How To Choose The Right Health Insurance
                    </h3>
                    <div class="text">When you are looking to get a good health insurance plan in India, there are a few things that you need to take into account before zeroing in on a policy:
                    </div>
                    <div class="text">Evaluate your insurance provider:Check your insurance providers' financial strength and claim settling capability. See if the provider and the policies have good ratings by industry experts and also check customer reviews.
                    </div>
                    <div class="text">Check for the network of hospitals it covers:his is a crucial aspect to check as your insurance would be useless if you are admitted to a hospital that doesn't recognise the policy. Make sure that the insurance provider has the widest network of doctors and hospitals available for treatment. Check all the hospitals in your city and especially those that are in the vicinity of your home and your office.
                    </div>
                    <div class="text">Waiting Periods:Always check health insurance policies and medical insurance schemes with lower waiting periods. Your policy doesn't get activated until this period is not completed; hence the period must be as short as possible.
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </section>
        <!-- End Services Detail Section -->

        <!-- Insurance Section -->
        <section class="insurance-section">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title light centered">
              <h2>How Health Insurance Works?</h2>
              <div class="text">
                We are a professional and creative company and we <br />
                offer you a trusty on your vehicle.
              </div>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-3">
                <div
                  data-depth="0.20"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-3.png)"
                ></div>
                <div
                  data-depth="0.20"
                  class="pattern-layer-two"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="row clearfix">
                <!-- Insurance Block -->
                <div class="insurance-block col-lg-4 col-md-6 col-sm-12">
                  <div
                    class="inner-box wow fadeInLeft"
                    data-wow-delay="0ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="icon-box">
                      <span class="icon flaticon-car-1"></span>
                    </div>
                    <h5>
                      <a >Attractive Renewal Benefits</a>
                    </h5>
                    <div class="text">
                      We reward you with a free health check-up after two years of continuous policy renewal with us irrespective of the policy's claims.
                    </div>
                  </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-4 col-md-6 col-sm-12">
                  <div
                    class="inner-box wow fadeInLeft"
                    data-wow-delay="150ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="icon-box">
                      <span class="icon flaticon-customer-support"></span>
                    </div>
                    <h5>
                      <a >Free Look Period</a>
                    </h5>
                    <div class="text">
                      If you find a policy unsuitable to your needs after purchasing it, we offer a free look period of 15 days to request a policy's cancellation.
                    </div>
                  </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-4 col-md-6 col-sm-12">
                  <div
                    class="inner-box wow fadeInLeft"
                    data-wow-delay="300ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="icon-box">
                      <span class="icon flaticon-clipboard-1"></span>
                    </div>
                    <h5>
                      <a>Unique Loyalty Perk Benefits</a>
                    </h5>
                    <div class="text">
                      Your sum insured automatically increases by 10% of the basic sum insured for every claim-free year. This benefit can go up to a maximum on the insurance amount.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Insurance Section -->

        <!-- Insurance Section Two -->
        <section class="insurance-section-two bg-white">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <h2>
                Types of Health Insurance
              </h2>
              <div class="text">
                At Beema Dukaan Insurance, we have a range of health insurance plans to cater to different needs and health requirements and other kinds of health emergencies that may arise. Here are our plans:
              </div>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-4">
                <div
                  data-depth="0.20"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="clearfix">
                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-heart-2"></div>
                    <h4><a href="insurance-form.html">Beema Dukaan Connect Policy</a></h4>
                    <div class="text">
                      Beema Dukaan Connect policies have four schemes that offer optimum health coverage at an affordable price.While the plans mainly differ in
                    </div>
                    <a
                      class="arrow fa fa-angle-right"
                    ></a>
                  </div>
                </div>

                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-touch"></div>
                    <h4><a href="insurance-form.html">Health Connect Supra</a></h4>
                    <div class="text">
                      Your existing health insurance may not be adequate to cover the rising cost of medical treatments and procedures. Many experts have said that most people in the country are underinsured. Health Connect Supra has been crafted to provide
                    </div>
                    <a
                      class="arrow fa fa-angle-right"

                    ></a>
                  </div>
                </div>

                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-person"></div>
                    <h4><a href="insurance-form.html">Secure Health Connect</a></h4>
                    <div class="text">
                      An illness or surgery affects the family as a whole. Health Insurance should no longer just be limited to a few family members or the family's earning members. Secure Health Connect Policy ensures that the entire family is protected by offering all the features
                    </div>
                    <a
                      class="arrow fa fa-angle-right"

                    ></a>
                  </div>
                </div>

                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-car-2"></div>
                    <h4><a href="insurance-form.html">Janta Personal Accident Insurance Policy</a></h4>
                    <div class="text">
                      This policy provides financial support to surviving family members in the event of the insured person's accidental death.This policy's primary intent has been

                    </div>
                    <a
                      class="arrow fa fa-angle-right"

                    ></a>
                  </div>
                </div>

                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-share-1"></div>
                    <h4><a href="insurance-form.html">Individual Personal Accident</a></h4>
                    <div class="text">
                      Accidents, by their very nature, are unpredictable. They can occur anytime and anywhere, without a moment's notice. For such untoward situations, you and your family must have a personal accident cover This type of cover ensures that you and your
                    </div>
                    <a
                      class="arrow fa fa-angle-right"

                    ></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- End Insurance Section Two -->

        <!-- Faq's Section -->
        <section class="faq-section bg-gray">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <div class="title">faq</div>
              <h2>FAQ's About Health Insurance</h2>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
              <div class="row clearfix">
                <!-- Accordion Column -->
                <div class="accordion-column col-lg-6 cl-md-12 col-sm-12">
                  <div class="inner-column">
                    <!-- Accordian Box -->
                    <ul class="accordion-box">
                      <!--Block-->
                      <li class="accordion block shadow active-block">
                        <div class="acc-btn active">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          Is it mandatory to have health insurance in India?​
                        </div>
                        <div class="acc-content current">
                          <div class="content">
                            <div class="text">
                              Yes, motor insurance is mandatory in India. You have to have at least a third-party health insurance policy in India. It is a statutory requirement as per the Motor Vehicles Act, 1988.
                            </div>
                          </div>
                        </div>
                      </li>

                      <!--Block-->
                      <li class="accordion block shadow">
                        <div class="acc-btn ">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          What is health insurance?
                        </div>
                        <div class="acc-content ">
                          <div class="content">
                            <div class="text">
                              It is an insurance policy that protects healths against damage or loss resulting from an accident, theft or any other third-party liability. You can buy health insurance online or by visiting a Liberty General Insurance branch.
                            </div>
                          </div>
                        </div>
                      </li>

                      <!--Block-->
                      <li class="accordion block shadow">
                        <div class="acc-btn">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          When do you buy a commercial health insurance policy?
                        </div>
                        <div class="acc-content">
                          <div class="content">
                            <div class="text">
                              A commercial health insurance policy is required if you use or operate a commercial vehicle up to 3500 GVW. For example, a black and yellow taxi.
                            </div>
                          </div>
                        </div>
                      </li>

                      <!--Block-->
                      <li class="accordion block shadow">
                        <div class="acc-btn">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          Why purchase health insurance online?
                        </div>
                        <div class="acc-content">
                          <div class="content">
                            <div class="text">
                              It is beneficial to buy a health policy online in India, as there are various policies from which to choose. You can make more informed decisions. When you buy any health policy online, research thoroughly and then decide. Buying online also helps you save time and money. You can also get more benefits.
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 cl-md-12 col-sm-12">
                  <div class="inner-column">
                    <!-- Accordian Box -->
                    <ul class="accordion-box">
                      <!--Block-->
                      <li class="accordion block shadow">
                        <div class="acc-btn">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          What are the types of health policies offered by Beema Dukaan?
                        </div>
                        <div class="acc-content">
                          <div class="content">
                            <div class="text">
                              Beema Dukaan offers two types of health insurance- a Package Policy and a Third Party Liability Policy.
                            </div>
                          </div>
                        </div>
                      </li>

                      <!--Block-->
                      <li class="accordion block shadow active-block">
                        <div class="acc-btn active">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          How can I pay for health insurance online?
                        </div>
                        <div class="acc-content current">
                          <div class="content">
                            <div class="text">
                              There are multiple online payment options, e.g. credit card, net banking, debit card, etc.
                            </div>
                          </div>
                        </div>
                      </li>

                      <!--Block-->
                      <li class="accordion block shadow">
                        <div class="acc-btn">
                          <div class="icon-outer">
                            <span class="icon icon-plus fa fa-plus"></span>
                            <span class="icon icon-minus fa fa-minus"></span>
                          </div>
                          Does Liberty General only offer 4-wheeler insurance online?
                        </div>
                        <div class="acc-content">
                          <div class="content">
                            <div class="text">
                              You can buy health insurance online through our website or visit a branch nearest to you. You can locate a branch nearest to you by using the 'Branch Locator' option on our website. However, buying four-wheeler insurance online is a better option as you get a policy instantly with minimal paperwork, and you get better benefits as well.
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Faq's Section -->


        <!-- Blog Section -->
        <section class="pricing-section">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <h2>
                Read our blogs for more information

              </h2>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
              <div class="row clearfix">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 " *ngFor="let blog of blogs; index as i;">
                  <div
                    class="inner-box wow fadeInLeft shadow"
                    data-wow-delay="0ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="image">
                      <a [routerLink]="['/blogs', blog.id]"
                        ><img src="{{ blog.image }}" alt="{{ blog.name }}"
                      /></a>
                    </div>
                    <div class="lower-content">
                      <ul class="post-meta">
                        <li>
                          <span class="icon flaticon-user"></span>{{ blog.date }}
                        </li>
                      </ul>
                      <h4>
                        <a [routerLink]="['/blogs', blog.id]"
                          >{{ blog.name }}</a
                        >
                      </h4>
                      <a [routerLink]="['/blogs', blog.id]" class="read-more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </section>
  <!-- End Blog Section -->
<app-footer></app-footer>
