<app-header></app-header>
<!-- Page Title -->
<section class="page-title">
  <div class="background-container">
    <img class="left-image" src="assets/images/background/header-left-bg.png" alt="" />
    <img class="right-image" src="assets/images/background/blog-right-bg.png" alt="" />
  </div>
  <div class="service-container">
    <div class="section-icons-outer parallax-scene-1">
      <div data-depth="0.20" class="pattern-layer"
        style="background-image: url(assets/images/background/pattern-8.png)"></div>
    </div>
    <div class="auto-container">
      <h1>Blogs</h1>
      <ul class="page-breadcrumb">
        <li><a routerLink="/">home</a></li>
        <li>Blogs</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->
<!-- Blog Page Section -->
<section class="blog-page-section">
  <div class="auto-container">
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-2">
        <div data-depth="0.20" class="icon-layer" style="background-image: url(assets/images/icons/icon-1.png)"></div>
        <div data-depth="0.40" class="pattern-layer"
          style="background-image: url(assets/images/background/pattern-4.png)"></div>
        <div data-depth="0.20" class="pattern-layer-two"
          style="background-image: url(assets/images/background/pattern-9.png)"></div>
      </div>
      <!-- Sec Title -->
      <div class="sec-title centered">
        <h2>
          Read Our Daily Blog to know <br />
          about insurance
        </h2>
        <div class="text">
          We are a professional and creative company and we <br />
          offer you a trusty insurance on your veicle.
        </div>
      </div>
      <div class="row clearfix">
        <!-- News Block -->
        <div class="news-block col-lg-4 col-md-6 col-sm-12" *ngFor="let blog of blogs; index as i;">
          <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="image">
              <a [routerLink]="['/blogs', blog.id]"><img src="assets/images/resource/{{ blog.image }}" alt="" /></a>
            </div>
            <div class="lower-content">
              <ul class="post-meta">
                <li>
                  <span class="icon flaticon-user"></span>{{ blog.date }}
                </li>
              </ul>
              <h4>
                <a [routerLink]="['/blogs', blog.id]">{{ blog.name }}</a>
              </h4>
              <a [routerLink]="['/blogs', blog.id]" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login Section -->
<app-footer></app-footer>