

.form-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e1e1e1;
  min-height: 100vh;

}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 25px;
  margin: auto;
  z-index: 5;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.img-top {
  position: absolute;
  top: -80px;
}
.img-bottom {
  position: absolute;
  bottom: -80px;
}

@media screen and (max-width : 767px) {
  .img-top {
    top: 0 !important;
  }
  .img-bottom {
    bottom: 0 !important;
  }
}
