<div class="main-homepage">
  <div class="page-wrapper bg-gray">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modal fade contactRequestsModal" id="addons-options-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-image: url(assets/images/background/pattern-2.png);background-position: center;">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Want to know more about our Policies?</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="quote-form col-lg-6 col-md-6 col-xs-12">
          <form method="post">
            <div class="clearfix">
              <div class="form-group">
                <input type="text" name="Name" placeholder="Your Name *" required="" #name />
              </div>
              <div class="form-group">
                <input type="email" name="email" placeholder="Your Email" required="" #email />
              </div>
              <div class="form-group">
                <input type="number" name="phoneNumber" placeholder="Your Contact Number" required="" #phonenumber />
              </div>
              <div class="form-group">
                <select class="custom-select-box" #type>
                  <option>Select Type</option>
                  <option value="General insurace">General Insurace</option>
                  <option value="Car insurace">Car Insurace</option>
                  <option value="Bike insurace">Bike Insurace</option>
                  <option value="Health insurace">Health Insurace</option>
                </select>
              </div>
              <div class="form-group">
                <select class="custom-select-box" #gender>
                  <option>Your Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group d-flex">
                <button type="button" class="btn bg-btn-pop bg-secondary mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btn bg-btn-pop bg-primary"
                (click)="dataService.addContactRequest(name.value, email.value, phonenumber.value,type.value,gender.value)">Confirm</button>
              </div>
            </div>
          </form>
        </div>
        <div class="bg-img-popup col-lg-6 col-md-6 col-xs-12">
          <img src="assets/images/Insurance-cuate.png" alt="insurance beema dukaan" class="img-popup" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="overlay" *ngIf="dataProvider.pageSetting.blur">
  <mat-progress-spinner color="primary" mode="indeterminate"  [diameter]="60"></mat-progress-spinner>
</div>