
<app-header></app-header>

<div class="container-fluid">
  <div class="row" style="min-height: 100vh;">
    <app-sidebar id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white shadow sidebar collapse"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Customer Requests</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all orders</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/customer-requests" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all the products</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/users" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Payment Details</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all the pending products</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/payment-details" class="card-link">View</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
