
<app-header></app-header>

<div class="container-fluid">
  <div class="row" style="min-height: 100vh;">
    <app-sidebar id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white shadow sidebar collapse"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all orders</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/orders" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all the products</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/products" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Pending Products</h5>
              <h6 class="card-subtitle mb-2 text-muted">See all the pending products</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/products/pending" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Customers Data</h5>
              <h6 class="card-subtitle mb-2 text-muted">View all customer list.</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/customers" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Feedbacks</h5>
              <h6 class="card-subtitle mb-2 text-muted">View all feedbacks list.</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/feedbacks" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Customer Issues</h5>
              <h6 class="card-subtitle mb-2 text-muted">View all customer issues list.</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/customer-issues" class="card-link">View</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">See all vendors details</h5>
              <h6 class="card-subtitle mb-2 text-muted">View all vendors list & make changes to them.</h6>
              <p class="card-text"></p>
              <a routerLink="/admin/vendors" class="card-link">View</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
