<app-header></app-header>
<!-- Page Title -->
<section class="page-title">
  <div class="background-container">
    <img
      class="left-image"
      src="assets/images/background/header-left-bg.png"
      alt=""
    />
    <img
      class="right-image"
      src="assets/images/background/about-us-right-bg.png"
      alt=""
    />
  </div>
  <div class="service-container">
    <div class="section-icons-outer parallax-scene-1">
      <div
        data-depth="0.20"
        class="pattern-layer"
        style="background-image: url(images/background/pattern-8.png)"
      ></div>
    </div>

    <div class="auto-container">
      <h1>Feedbacks</h1>
      <ul class="page-breadcrumb">
        <li><a routerLink="/">home</a></li>
        <li>Feedbacks</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- About Section -->
<section class="about-section style-two" style="background : #dae1df !important">
  <div class="auto-container">
    <div class="inner-container">
      <div class="form-column col-lg-12 col-md-12 col-sm-12">
        <div class="inner-column mb-3">
          <h3>Take a look at the client feedbacks!</h3>
          <div class="row p-3">
            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <h5 class="card-title">Great Service!!!</h5>
                  <p class="card-text">Amazing experience</p>
                  <p class="card-subtitle mb-2 text-muted">- Tester</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <h5 class="card-title">Great Service!!!</h5>
                  <p class="card-text">Amazing experience</p>
                  <p class="card-subtitle mb-2 text-muted">- Tester</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <h5 class="card-title">Great Service!!!</h5>
                  <p class="card-text">Amazing experience</p>
                  <p class="card-subtitle mb-2 text-muted">- Tester</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <h5 class="card-title">Great Service!!!</h5>
                  <p class="card-text">Amazing experience</p>
                  <p class="card-subtitle mb-2 text-muted">- Tester</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-column col-lg-12 col-md-12 col-sm-12">
        <div class="inner-column">
          <h3 class="mb-3">Your Feedback is Important to us.</h3>

          <div class="styled-form">
            <form method="post">
              <fieldset>
                <div class="form-group">
                  <label>Enter Name : </label>
                  <span class="icon flaticon-user-2"></span>
                  <input
                    type="text"
                    name="username"
                    value=""
                    placeholder="Your Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Suggestions / Feedbacks </label>
                  <span class="icon flaticon-edit" style=" top : 50px !important; bottom : 0 !important"></span>
                  <textarea rows="4" name="feedback" style="padding : 15px 20px 15px 70px" >Great Service!</textarea>
                </div>
              </fieldset>
              <a class="btn-style-one text-white"
              >Click Here</a>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<app-footer></app-footer>
