    <!-- CTA Section -->
    <section class="cta-section">
      <div class="auto-container">
        <div
          class="inner-container"
          style="background-image: url(assets/images/background/pattern-5.png)"
        >
          <div class="row clearfix">
            <!-- Title Column -->
            <div class="title-column col-lg-5 col-md-12 col-sm-12">
              <div class="inner-column">
                <h3>Let us take care about your veicle</h3>
              </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-lg-7 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="newsletter-form">
                  <form method="post" action="https://themeim.com/demo/carsore/contact.html">
                    <div class="form-group">
                      <span class="icon fa fa-envelope"></span>
                      <input
                        type="email"
                        name="email"
                        value=""
                        placeholder="Enter your mail"
                        required=""
                      />
                      <button
                        type="submit"
                        class="theme-btn flaticon-send"
                      ></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End CTA Section -->

    <!-- Main Footer -->
    <footer
      class="main-footer"
      style="background-image: url(assets/images/background/pattern-2.png)"
    >
      <!-- <div
        class="top-pattern-layer"
        style="background-image: url(assets/images/background/pattern-1.png)"
      ></div> -->
      <div class="auto-container">
        <!-- Upper Box -->
        <div class="upper-box">
          <div class="row clearfix">
            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-call-2"></span>
                call now<br />
                <a href="tel:+10909876534">+10909876534</a>
              </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-email-2"></span>
                24*7 online Support<br />
                <a href="mailto:carsore@mail.com">carsore@mail.com</a>
              </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-maps-and-flags"></span>
                Office Adress<br />
                <strong>4309 Terry Lane, USA</strong>
              </div>
            </div>
          </div>
        </div>
        <!-- End Upper Box -->

        <!-- Widgets Section -->
        <div class="widgets-section">
          <div class="row clearfix">
            <!-- Footer Column -->
            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
              <div class="footer-widget logo-widget">
                <div class="logo">
                  <a href="index.html"
                    ><img src="assets/images/footer-logo.png" alt=""
                  /></a>
                </div>
                <div class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text.
                </div>
                <!-- Social Box -->
                <ul class="social-box">
                  <li>
                    <a
                      href="https://www.facebook.com/"
                      class="fab fa-facebook-f"
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.twitter.com/"
                      class="fab fa-twitter"
                    ></a>
                  </li>
                  <li>
                    <a href="https://google.com/" class="fab fa-google"></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/"
                      class="fab fa-linkedin-in"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Footer Column -->
            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <div class="row clearfix">
                  <!-- Column -->
                  <div class="column col-lg-6 col-md-6 col-sm-12">
                    <h3>Company</h3>
                    <ul class="list-links">
                      <li><a href="#">About us</a></li>
                      <li><a href="#">our team</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">insurance</a></li>
                      <li><a href="#">blog</a></li>
                      <li><a href="#">contact us</a></li>
                    </ul>
                  </div>
                  <!-- Column -->
                  <div class="column col-lg-6 col-md-6 col-sm-12">
                    <h3>Insurance</h3>
                    <ul class="list-links">
                      <li><a href="#">car insurance</a></li>
                      <li><a href="#">bike insurance</a></li>
                      <li><a href="#">bus insurance</a></li>
                      <li><a href="#">mini truck insurance</a></li>
                      <li><a href="#">jeep insurance</a></li>
                      <li><a href="#">lorry insurance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Footer Column -->
            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget quote-widget">
                <h3>Request a Quote</h3>

                <!-- Quote Form -->
                <div class="quote-form">
                  <form method="post" action="https://themeim.com/demo/carsore/appointment.html">
                    <div class="clearfix">
                      <div class="form-group">
                        <input
                          type="text"
                          name="username"
                          placeholder="Your Name *"
                          required=""
                        />
                      </div>

                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          placeholder="Your Email"
                          required=""
                        />
                      </div>

                      <!--Form Group-->
                      <div class="form-group">
                        <select class="custom-select-box">
                          <option>Your Subject</option>
                          <option>Subject 01</option>
                          <option>Subject 02</option>
                          <option>Subject 03</option>
                          <option>Subject 04</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <button
                          class="theme-btn submit-btn"
                          type="submit"
                          name="submit-form"
                        >
                          Submit Now
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="clearfix">
            <div class="pull-left">
              <div class="copyright">
                Copyright &copy; 2021. All rights reserved by <br />
                <span>Carsore Company.</span>
              </div>
            </div>
            <div class="pull-right">
              <ul class="footer-nav">
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms & Condition</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Main Footer -->

    <!-- Calculator Palate  -->
    <div class="calculator-palate">
      <div class="calculator-trigger">
        <i class="flaticon-keys"></i>
      </div>
      <span class="palate-tag">Calculator</span>
      <div class="palate-content">
        <!-- Styled Form -->
        <div class="styled-form style-two">
          <form method="post" action="https://themeim.com/demo/carsore/index.html">
            <!-- Form Group -->
            <div class="form-group">
              <label>What is your vehicle number*</label>
              <span class="icon flaticon-user-2"></span>
              <input
                type="text"
                name="username"
                value=""
                placeholder="Your policy number"
                required
              />
            </div>

            <!-- Form Group -->
            <div class="form-group">
              <label>What is your city*</label>
              <span class="icon flaticon-edit"></span>
              <select class="custom-select-box">
                <option>Your City</option>
                <option>City 01</option>
                <option>City 02</option>
                <option>City 03</option>
                <option>City 04</option>
              </select>
            </div>

            <!-- Form Group -->
            <div class="form-group">
              <label>What is your car model?*</label>
              <span class="icon flaticon-edit"></span>
              <select class="custom-select-box">
                <option>Your VPN Number</option>
                <option>VPN 01</option>
                <option>VPN 02</option>
                <option>VPN 03</option>
                <option>VPN 04</option>
              </select>
            </div>

            <div class="form-group">
              <label>What is you car fuel type*</label>
              <span class="icon flaticon-edit"></span>
              <select class="custom-select-box">
                <option>Your Car fuel type</option>
                <option>fuel 01</option>
                <option>fuel 02</option>
                <option>fuel 03</option>
                <option>fuel 04</option>
              </select>
            </div>

            <div class="form-group">
              <label>What is you car Purchase date & year*</label>
              <span class="icon flaticon-edit"></span>
              <span class="calendar-icon flaticon-calendar"></span>
              <input
                class="datepicker"
                autocomplete="off"
                type="text"
                name="username"
                value=""
                placeholder="DD/MM/YYYY"
                required
              />
            </div>

            <div class="row clearfix">
              <!-- Column -->
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <h6>Vehicle for:</h6>
                <div class="form-group margin">
                  <div class="radio-box">
                    <input
                      type="radio"
                      name="remember-password"
                      id="type-1"
                    />
                    <label for="type-1">Commercial use</label>
                  </div>
                </div>
                <div class="form-group margin">
                  <div class="radio-box">
                    <input
                      type="radio"
                      name="remember-password"
                      id="type-2"
                    />
                    <label for="type-2">Personal Use</label>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <h6>Policy status:</h6>
                <div class="form-group margin">
                  <div class="radio-box">
                    <input
                      type="radio"
                      name="remember-password"
                      id="type-3"
                    />
                    <label for="type-3">Policy Expired</label>
                  </div>
                </div>
                <div class="form-group margin">
                  <div class="radio-box">
                    <input
                      type="radio"
                      name="remember-password"
                      id="type-4"
                    />
                    <label for="type-4">Policy not expired</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="button" class="theme-btn btn-style-four">
                <span class="txt">Calculator </span
                ><i class="fa fa-angle-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Calculator Palate  -->

    <!-- Contact Palate  -->
    <div class="cantact-palate">
      <div class="calculator-trigger">
        <i class="flaticon-envelope"></i>
      </div>
      <span class="palate-tag">Contact Form</span>
      <div class="palate-content">
        <!-- Contact Form -->
        <div class="contact-form">
          <form method="post" action="https://themeim.com/demo/carsore/contact.html">
            <div class="form-group">
              <label>Enter Your Name*</label>
              <input
                type="text"
                name="username"
                placeholder="Your Name"
                required
              />
            </div>

            <div class="form-group">
              <label>Enter Your Email*</label>
              <input
                type="email"
                name="email"
                placeholder="Your Email"
                required
              />
            </div>

            <div class="form-group">
              <label>Subject (Optional)</label>
              <input
                type="text"
                name="subject"
                placeholder="Your Subject"
                required
              />
            </div>

            <div class="form-group">
              <label>Your Message</label>
              <textarea
                name="message"
                placeholder="Type Your Message"
              ></textarea>
            </div>

            <div class="form-group">
              <button type="button" class="theme-btn btn-style-four">
                <span class="txt">Send Now </span
                ><i class="fa fa-angle-right"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- eND Contact Form -->
      </div>
    </div>
    <!-- End Contact Palate  -->
