    <!-- CTA Section -->
    <section class="cta-section">
      <div class="auto-container">
        <div
          class="inner-container"
          style="background-image: url(assets/images/background/pattern-5.png)"
        >
          <div class="row clearfix">
            <!-- Title Column -->
            <div class="title-column col-lg-5 col-md-12 col-sm-12">
              <div class="inner-column">
                <h3>Let us take care of you.</h3>
              </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-lg-7 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="newsletter-form">
                  <form method="post" >
                    <div class="form-group">
                      <span class="icon fa fa-envelope"></span>
                      <input
                        type="email"
                        name="email"
                        value=""
                        placeholder="Enter your mail"
                        required=""
                      />
                      <button
                        type="submit"
                        class="theme-btn flaticon-send"
                      ></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End CTA Section -->

    <!-- Main Footer -->
    <footer
      class="main-footer"
      style="background-image: url(assets/images/background/pattern-2.png)"
    >
      <div class="auto-container">
        <!-- Upper Box -->
        <div class="upper-box">
          <div class="row clearfix">
            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-call-2"></span>
                call now<br />
                <a href="tel:+91 98385 76305">+91 98385 76305</a>
              </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-email-2"></span>
                24*7 online Support<br />
                <a href="mailto:beemadukaan@gmail.com">beemadukaan@gmail.com</a>
              </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
              <div class="inner-column">
                <span class="icon flaticon-maps-and-flags"></span>
                Office Address<br />
                <strong>F - 5007 Sector 11, Rajaji Puram Lucknow-226017</strong>
              </div>
            </div>
          </div>
        </div>
        <!-- End Upper Box -->

        <!-- Widgets Section -->
        <div class="widgets-section">
          <div class="row clearfix">
            <!-- Footer Column -->
            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
              <div class="footer-widget logo-widget">
                <div class="logo">
                  <a href="index.html"
                    ><img src="assets/images/logo-main.jpg" width="150px" alt=""
                  /></a>
                </div>
                <div class="text">
                  Beema Dukaan General Insurance commenced operations in 2013 with the aim of providing comprehensive retail,
commercial and industrial insurance solutions. The company has an employee strength of 1200+ over a network
of 110 offices in 95 cities across 29 states.
                </div>
                <!-- Social Box -->
                <ul class="social-box">
                  <li>
                    <a
                      href="https://www.facebook.com/"
                      class="fab fa-facebook-f"
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.twitter.com/"
                      class="fab fa-twitter"
                    ></a>
                  </li>
                  <li>
                    <a href="https://google.com/" class="fab fa-google"></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/"
                      class="fab fa-linkedin-in"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Footer Column -->
            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <div class="row clearfix">
                  <!-- Column -->
                  <div class="column col-lg-6 col-md-6 col-sm-12">
                    <h3>Company</h3>
                    <ul class="list-links">
                      <li><a routerLink="/about-us">About us</a></li>
                      <li><a routerLink="/services">Services</a></li>
                      <li><a routerLink="/contact-us">contact us</a></li>
                      <li><a routerLink="/feedbacks">Feedbacks</a></li>
                      <li><a routerLink="/downloads">Downloads</a></li>
                    </ul>
                  </div>
                  <!-- Column -->
                  <div class="column col-lg-6 col-md-6 col-sm-12">
                    <h3>Insurance</h3>
                    <ul class="list-links">
                      <li><a href="#">car insurance</a></li>
                      <li><a href="#">bike insurance</a></li>
                      <li><a href="#">bus insurance</a></li>
                      <li><a href="#">mini truck insurance</a></li>
                      <li><a href="#">jeep insurance</a></li>
                      <li><a href="#">lorry insurance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Footer Column -->
            <div class="footer-column col-lg-3 col-md-6 col-sm-12">
              <div class="footer-widget quote-widget">
                <h4 class="mb-2 text-white">Want to know more about our Policies?</h4>

                <!-- Quote Form -->
                <div class="quote-form">
                  <form method="post">
                    <div class="clearfix">
                      <div class="form-group">
                        <input type="text" name="Name" placeholder="Your Name *" required="" #name />
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" placeholder="Your Email" required="" #email />
                      </div>
                      <div class="form-group">
                        <input type="number" name="phoneNumber" placeholder="Your Contact Number" required="" #phonenumber />
                      </div>
                      <div class="form-group">
                        <select class="custom-select-box" #type>
                          <option>Select Type</option>
                          <option value="General insurace">General Insurace</option>
                          <option value="Car insurace">Car Insurace</option>
                          <option value="Bike insurace">Bike Insurace</option>
                          <option value="Health insurace">Health Insurace</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select class="custom-select-box" #gender>
                          <option>Your Gender</option>
                          <option>Male</option>
                          <option>Female</option>
                          <option>Other</option>
                        </select>
                      </div>
                      <div class="form-group d-flex">
                        <button type="button" class="theme-btn submit-btn"
                        (click)="dataService.addContactRequest(name.value, email.value, phonenumber.value,type.value,gender.value)">Submit Now</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="clearfix">
            <div class="pull-left">
              <div class="copyright">
                Copyright &copy; 2021. All rights reserved by <br />
                <span>Beema Dukaan.</span>
              </div>
            </div>
            <div class="pull-right">
              <ul class="footer-nav">
                <li><a >Privacy Policy</a></li>
                <li><a >Terms & Condition</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Main Footer -->
