<app-header></app-header>
        <!-- Page Title -->
        <section class="page-title">
          <div class="background-container">
            <img
              class="left-image"
              src="assets/images/background/header-left-bg.png"
              alt=""
            />
            <img
              class="right-image"
              src="assets/images/background/service-single-right-bg.png"
              alt=""
            />
          </div>
          <div
            class="service-container"
            style="
              background-image: url('images/background/services-left-bg.html');
            "
          >
            <div class="section-icons-outer parallax-scene-1">
              <div
                data-depth="0.20"
                class="pattern-layer"
                style="background-image: url(images/background/pattern-8.png)"
              ></div>
            </div>

            <div class="auto-container">
              <h1>Fire Insurance</h1>
              <ul class="page-breadcrumb">
                <li><a routerLink="/services">Services</a></li>
                <li>Fire Insurance</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Page Title -->

        <!-- Services Detail Section -->
        <section class="services-detail-section">
          <div class="auto-container">
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-2">
                <div
                  data-depth="0.30"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                  <div class="inner-column">
                    <div class="image">
                      <span class="triangle-one"></span>
                      <span class="triangle-two"></span>
                      <img src="assets/images/gallery/two-wheeler-accident.jpg" alt="" />
                    </div>
                  </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                  <div class="inner-column">
                    <h2>OVERSEAS TRAVEL INSURANCE 2014 </h2><h6 class="mb-2">(Business and Holiday)</h6>
                  </div>
                </div>


                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-2">What am I covered for ?</h3>
                    <div class="text">
                      There are five reasons why you must have two wheeler insurance:
                    </div>
                    <ul class="services-info-list info-with-ticks">
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                        <strong>Medical Expenses and repatriation -</strong> Medical expenses due to sudden,
                        unexpected sickness and/or accident, when insured is outside republic of
                        India.
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                        <strong>Personal accident - </strong> Death or Permanent disablement solely due to
                        accident occurred outside India during the covered trip
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Total Loss of checked-in Baggage</strong>
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Delay of checked in baggage</strong>
                          Delay of more than 12 hours from the
                          arrival time in receiving the checked in baggage in the outbound flight
                          from the Republic of India
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Loss of Passport</strong>
                          reasonable expenses incurred in obtaining travel
                          documents/ duplicate/ fresh passport
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Personal Liability</strong>
                          If the Insured person becomes legally liable to pay
                          any accidental Third Party bodily injury claims or Third Party property
                          damages arising from an incident during the covered trip
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Trip delay</strong>
                          Reasonable additional accommodation charges and
                          travelling expenses incurred due to Delay of trip beyond 6 hours of
                          scheduled departure.
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Pecuniary loss on account of Trip cancellation due to an insured peril
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Distress allowance on account of Hijacking of the common carrier in which the insured is travelling
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          <strong>Missed connection –</strong> In case of aircraft from India delayed beyond 12
                          hours from the scheduled time of arrival.
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Hospital Daily allowance in the event of hospitalisation
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">What are the major exclusions in the policy ?</h3>
                    <ul class="services-info-list info-with-ticks">
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Pre-existing illness/disease/injury/condition
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Insured travelling against Doctor’s advice
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Self-inflicted injury, attempted suicide
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Insured taking part in Naval, Military or Airforce operations
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          War, invasion, acts of foreign enemy, civil war and similar activities
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Ionising radiations, contamination by radioactivity, nuclear fuel and  similar activities
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Insured participating in mountaineering, winter sports, manual work, hazardous occupation,etc.
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          HIV,HIV related illness including AIDS
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Claims arising from Pregnancy
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Transmission of a communicable disease by insured
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Sexual Molestation, Corporal Punishment
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Suits or legal action by insured’s family members
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Confiscation or detention by custom’s officials
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Influence of drugs, alcohol or intoxicants
                        </div>
                      </li>
                    </ul>
                    <div class="text mt-2 mb-2">(Note: the above is a partial listing of the policy exclusions. Please refer to
                      the policy clauses for the full listing)</div>
                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">Payment basis</h3>
                    <ul class="services-info-list info-with-ticks">
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Reimbursement of covered expenses up to specified limits
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Cashless payment of covered expenses upto specified limits in the
                        </div>
                      </li>
                      <li>
                        <svg
                          id="price-tick"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16.111"
                          height="16.111"
                          viewBox="0 0 16.111 16.111"
                        >
                          <path
                            id="Path_8769"
                            data-name="Path 8769"
                            d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                            transform="translate(-438.666 -194.559)"
                            fill="#4298ee"
                          />
                          <path
                            id="Path_8770"
                            data-name="Path 8770"
                            d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                            transform="translate(-503.037 -273.874)"
                            fill="#4298ee"
                          />
                        </svg>
                        <div class="text">
                          Hospitals under the network of Overseas Service Provider
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">Cost sharing</h3>
                    <div class="text">In case of a claim, this policy requires you to share the costs as specified in
                      the table of benefits under the column “Deductibles”</div>
                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">Renewal condition</h3>
                    <div class="text">The Policy is issued on per trip basis. It is renewable on mutual consent in the
                      case of annual policies issued to Corporate Frequent Travelers</div>
                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">Cancellation</h3>
                    <div class="text">The Policy may be cancelled in cases where the journey is not undertaken,
                      subject to the specified clause in the policy</div>
                  </div>
                </div>
                <div class="content-column col-lg-12 mt-5">
                  <div class="inner-column">
                    <h3 class="mb-4">Special condition and special benefit</h3>
                    <div class="text">Pre-acceptance Health check-up to be carried out for persons above 70 years
                      seeking OMP cover </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- End Services Detail Section -->

        <!-- Insurance Section Two -->
        <section class="insurance-section-two bg-white">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <h2>
                Factors About Insurance <br />
                Cost
              </h2>
              <div class="text">
                We are a professional and creative company and we offer <br />
                you a trusty insurance on your vehicle.
              </div>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-4">
                <div
                  data-depth="0.20"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="clearfix d-flex flex-wrap">
                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-heart-2"></div>
                    <h4><a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Overseas Travel for Business & Holiday</a></h4>
                    <a
                      class="arrow fa fa-angle-right"
                      href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal"
                    ></a>
                  </div>
                </div>

                <!-- Insurance Block Two -->
                <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                  <div class="inner-box">
                    <div class="color-layer"></div>
                    <div class="icon flaticon-touch"></div>
                    <h4><a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Overseas Mediclaim For Employment & Studies</a></h4>
                    <a
                      class="arrow fa fa-angle-right"
                      href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal"
                    ></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- End Insurance Section Two -->

        <!-- Blog Section -->
        <section class="pricing-section">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <h2>
                Read our blogs for more information

              </h2>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
                <div class="row clearfix">
                  <!-- News Block -->
                  <div class="news-block col-lg-4 col-md-6 col-sm-12 " *ngFor="let blog of blogs; index as i;">
                    <div
                      class="inner-box wow fadeInLeft shadow"
                      data-wow-delay="0ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="image">
                        <a [routerLink]="['/blogs', blog.id]"
                          ><img src="{{ blog.image }}" alt="{{ blog.name }}"
                        /></a>
                      </div>
                      <div class="lower-content">
                        <ul class="post-meta">
                          <li>
                            <span class="icon flaticon-user"></span>{{ blog.date }}
                          </li>
                        </ul>
                        <h4>
                          <a [routerLink]="['/blogs', blog.id]"
                            >{{ blog.name }}</a
                          >
                        </h4>
                        <a [routerLink]="['/blogs', blog.id]" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
       </section>
  <!-- End Blog Section -->
<app-footer></app-footer>
