<app-header></app-header>
<!-- Page Title -->
<section class="page-title">
  <div class="background-container">
    <img
      class="left-image"
      src="assets/images/background/header-left-bg.png"
      alt=""
    />
    <img
      class="right-image"
      src="assets/images/background/about-us-right-bg.png"
      alt=""
    />
  </div>
  <div class="service-container">
    <div class="section-icons-outer parallax-scene-1">
      <div
        data-depth="0.20"
        class="pattern-layer"
        style="background-image: url(images/background/pattern-8.png)"
      ></div>
    </div>

    <div class="auto-container">
      <h1>About Us</h1>
      <ul class="page-breadcrumb">
        <li><a href="index.html">home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- About Section -->
<section class="about-section style-two bg-gray">
  <div class="auto-container">
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-2">
        <div
          data-depth="0.20"
          class="icon-layer-one"
          style="background-image: url(images/icons/icon-1.png)"
        ></div>
        <div
          data-depth="0.20"
          class="icon-layer-two"
          style="background-image: url(images/background/pattern-4.png)"
        ></div>
      </div>
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image titlt" data-tilt data-tilt-max="2">
              <img src="assets/images/resource/about.jpg" alt="" />
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
            </div>
          </div>
        </div>
        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="sec-title">
              <div class="title">about us</div>
              <h2>Insurance rate reductions up to 25%</h2>
            </div>
            <div class="bold-text">
              We are a professional and creative company and we offer you
              a trusty insurance.
            </div>
            <div class="text">
              Motor insurance, Health insurance, Travel insurance, Fire insurance, Other insurance and Life insurance everything at one place.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- Awards Section -->
<section class="awards-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <div class="title">We Achived</div>
      <h2>Awards & Recognition</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-3">
        <div
          data-depth="0.20"
          class="icon-layer"
          style="background-image: url(images/icons/icon-1.png)"
        ></div>
        <div
          data-depth="0.20"
          class="pattern-layer"
          style="background-image: url(images/background/pattern-3.png)"
        ></div>
      </div>
      <div class="row clearfix">
        <!-- blocks Column -->
        <div class="blocks-column col-lg-6 cl-md-12 col-sm-12">
          <div class="inner-column">
            <div class="row clearfix">
              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div
                  class="inner-box wow fadeInLeft"
                  data-wow-delay="0ms"
                  data-wow-duration="1500ms"
                >
                  <div class="color-layer"></div>
                  <div class="icon flaticon-graduated-1"></div>
                  <h5><a href="javascript:void(0)" routerLink='/services'>Best Company</a></h5>
                  <div class="text">
                    We serve Best in Class!
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div
                  class="inner-box wow fadeInLeft"
                  data-wow-delay="250ms"
                  data-wow-duration="1500ms"
                >
                  <div class="color-layer"></div>
                  <div class="icon flaticon-bar-chart-1"></div>
                  <h5>
                    <a href="javascript:void(0)" routerLink='/services'>Growing Business</a>
                  </h5>
                  <div class="text">
                    We are constantly Growing!
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div
                  class="inner-box wow fadeInLeft"
                  data-wow-delay="0ms"
                  data-wow-duration="1500ms"
                >
                  <div class="color-layer"></div>
                  <div class="icon flaticon-charity"></div>
                  <h5>
                    <a href="javascript:void(0)" routerLink='/services'>Great Support</a>
                  </h5>
                  <div class="text">
                    High priority support!
                  </div>
                </div>
              </div>

              <!-- Award Block -->
              <div class="award-block col-lg-6 col-md-6 col-sm-12">
                <div
                  class="inner-box wow fadeInLeft"
                  data-wow-delay="250ms"
                  data-wow-duration="1500ms"
                >
                  <div class="color-layer"></div>
                  <div class="icon flaticon-trophy-1"></div>
                  <h5>
                    <a href="javascript:void(0)" routerLink='/services'>Excellent Service</a>
                  </h5>
                  <div class="text">
                    Best in class Services!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-6 cl-md-12 col-sm-12">
          <div
            class="inner-column wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <img src="assets/images/resource/award.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Awards Section -->

<!-- Team Section -->
<section class="team-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">Mission & Vision </div>
      <h2>
        We ensure best insurance services <br />
        for our clients.
      </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-2">
        <h4>Mission:</h4> To become the most admired and trusted upon insurance companies in India, by keeping up with all the promises that we make to you, our customers, by providing the most convenient dealing process, creating sustainable values, and empowering all our employees.
      </div>
      <div class="col-xs-12 col-md-6 mb-2">
        <h4>Vision:</h4> When you think about Beema Dukaan, think of a company which aims to help people live safer, with more security. To go beyond what other health insurance companies or the car insurance companies in India might offer; to become an attentive and empathetic insurer of choice for the citizens of the country.
      </div>
      <div class="col mb-3">
        <div class="btn-style-one theme-btn" routerLink="/vision-mission">KNOW MORE</div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

<!-- Choose Section -->
<section class="choose-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <div class="title">why us</div>
      <h2>Why Chose Us</h2>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-5">
        <div
          data-depth="0.20"
          class="icon-layer"
          style="background-image: url(images/icons/icon-1.png)"
        ></div>
        <div
          data-depth="0.20"
          class="pattern-layer"
          style="background-image: url(images/background/pattern-3.png)"
        ></div>
        <div
          data-depth="0.20"
          class="pattern-layer-two"
          style="background-image: url(images/background/pattern-4.png)"
        ></div>
      </div>
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image titlt" data-tilt data-tilt-max="2">
              <img src="assets/images/resource/choose.jpg" alt="" />
              <span class="triangle-one"></span>
              <span class="triangle-two"></span>
              <!-- Fact Counter -->
              <div class="fact-counter">
                <div class="row clearfix">
                  <!-- Column -->
                  <div
                    class="
                      column
                      counter-column
                      col-lg-4 col-md-4 col-sm-4
                    "
                  >
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span
                            class="count-text"
                            data-speed="3000"
                            data-stop="100"
                            >0</span
                          >%
                        </div>
                        <div class="counter-title">
                          Customer <br />
                          satisfaction
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Column-->
                  <div
                    class="
                      column
                      counter-column
                      col-lg-4 col-md-4 col-sm-4
                    "
                  >
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span
                            class="count-text"
                            data-speed="4000"
                            data-stop="200"
                            >0</span
                          >+
                        </div>
                        <div class="counter-title">
                          Monthly active <br />
                          users
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Column-->
                  <div
                    class="
                      column
                      counter-column
                      col-lg-4 col-md-4 col-sm-4
                    "
                  >
                    <div class="inner">
                      <div class="content">
                        <div class="count-outer count-box">
                          <span
                            class="count-text"
                            data-speed="3000"
                            data-stop="100"
                            >0</span
                          >+
                        </div>
                        <div class="counter-title">
                          New Customer <br />
                          per week
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="list-outer">
              <ul class="choose-list">
                <li>
                  <span class="number">1</span>
                  <strong>Compare personalized quotes</strong>

                </li>
                <li>
                  <span class="number">2</span>
                  <strong>Get all discounts in one place</strong>

                </li>
                <li>
                  <span class="number">3</span>
                  <strong>Buy online or on the phone</strong>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Choose Section -->


<!-- Insurance Section -->
<section class="insurance-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title light centered">
      <h2>How Car Insurance Works?</h2>
      <div class="text">
        We are a professional and creative company and we <br />
        offer you a trusty on your vehicle.
      </div>
    </div>
    <!-- End Sec Title -->
    <div class="inner-container">
      <div class="section-icons-outer parallax-scene-8">
        <div
          data-depth="0.20"
          class="icon-layer"
          style="background-image: url(images/icons/icon-1.png)"
        ></div>
        <div
          data-depth="0.40"
          class="pattern-layer"
          style="background-image: url(images/background/pattern-3.png)"
        ></div>
        <div
          data-depth="0.20"
          class="pattern-layer-two"
          style="background-image: url(images/background/pattern-4.png)"
        ></div>
      </div>
      <div class="row clearfix">
        <!-- Insurance Block -->
        <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-car-1"></span>
            </div>
            <h5>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Choose Right Insurance</a>
            </h5>

          </div>
        </div>

        <!-- Insurance Block -->
        <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="150ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-customer-support"></span>
            </div>
            <h5>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Answer few Questions</a>
            </h5>

          </div>
        </div>

        <!-- Insurance Block -->
        <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="300ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-clipboard-1"></span>
            </div>
            <h5>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Plans & Prices Tailor</a>
            </h5>

          </div>
        </div>

        <!-- Insurance Block -->
        <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="450ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-tags"></span>
            </div>
            <h5><a href="javascript:void(0)" data-toggle="modal" data-target="#addons-options-modal">Make payment</a></h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Insurance Section -->


<app-footer></app-footer>
