<app-header></app-header>

    <!-- Main Slider Section -->
    <section class="main-slider bg-white">
      <div class="auto-container">
        <div class="slider-icons-outer parallax-scene-1">
          <div
            data-depth="0.20"
            class="pattern-layer"
            style="background-image: url(assets/images/main-slider/pattern-1.png)"
          ></div>
          <div
            data-depth="0.40"
            class="pattern-layer-two"
            style="background-image: url(assets/images/main-slider/pattern-2.png)"
          ></div>
          <div
            data-depth="0.40"
            class="pattern-layer-three"
            style="background-image: url(assets/images/main-slider/pattern-3.png)"
          ></div>
          <div
            class="pattern-layer-four"
            style="background-image: url(assets/images/main-slider/pattern-4.png)"
          ></div>
          <div
            class="pattern-layer-six"
            style="background-image: url(assets/images/main-slider/pattern-6.png)"
          ></div>
        </div>
        <div class="main-slider-carousel owl-carousel owl-theme">
          <!-- Slide 01 -->
          <div class="slide">
            <div class="row clearfix">
              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="title">CAR INSURANCE</div>
                  <h3 class="pb-4">Beema Dukaan Insurance offers various online insurance policies and car insurance renewal policies.</h3>
                  <div class="btns-box clearfix">
                    <a class="btn-style-one theme-btn mr-2 mb-2" href="#"
                      ><span class="txt"
                        >Buy Online
                        <i class="fa fa-arrow-circle-right"></i></span
                    ></a>
                    <a class="btn-style-one theme-btn" href="#"
                      ><span class="txt pr-5"
                        >Renew LGI Policy <i class="fa fa-arrow-circle-right"></i> </span
                    ></a>
                  </div>
                  <div
                    class="slide-arrow scroll-to-target"
                    data-target=".about-section"
                  >
                    <img src="assets/images/icons/slider-arrow.png" alt="" />
                  </div>
                </div>
              </div>

              <!-- Image Column Start-->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div
                  class="pattern-layer-five"
                  style="
                    background-image: url(assets/images/main-slider/pattern-5.png);
                  "
                ></div>
                <div class="inner-column">
                  <div class="image">
                    <img
                      src="assets/images/main-slider/content-image.png"
                      alt=""
                      width="817px"
                      height="411px"
                    />
                  </div>
                </div>
              </div>
              <!-- Image Column End-->
            </div>
          </div>
          <!-- End Slide 01 -->

          <!-- Slide 02 -->
          <div class="slide">
            <div class="row clearfix">
              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="title">BIKE INSURANCE</div>
                  <h3 class="pb-4">Beema Dukaan Insurance offers various online insurance policies and Two wheeler insurance renewal policies.</h3>
                  <div class="btns-box clearfix">
                    <a class="btn-style-one theme-btn mr-2 mb-2" href="#"
                      ><span class="txt"
                        >Buy Online
                        <i class="fa fa-arrow-circle-right"></i></span
                    ></a>
                    <a class="btn-style-one theme-btn" href="#"
                      ><span class="txt pr-5"
                        >Renew LGI Policy <i class="fa fa-arrow-circle-right"></i> </span
                    ></a>
                  </div>
                  <div
                    class="slide-arrow scroll-to-target"
                    data-target=".about-section"
                  >
                    <img src="assets/images/icons/slider-arrow.png" alt="" />
                  </div>
                </div>
              </div>

              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div
                  class="pattern-layer-five"
                  style="
                    background-image: url(assets/images/main-slider/pattern-5.png);
                  "
                ></div>
                <div class="inner-column">
                  <div class="image">
                    <img
                      src="assets/images/main-slider/content-image.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Slide 02 -->

          <!-- Slide 03 -->
          <div class="slide">
            <div class="row clearfix">
              <!-- Content Column -->
              <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <div class="title">HEALTH INSURANCE</div>
                  <h3 class="pb-4">Your responsible health insurance companion, for best health care</h3>
                  <div class="btns-box clearfix">
                    <a class="btn-style-one theme-btn mr-2 mb-2" href="#"
                      ><span class="txt"
                        >Buy Online
                        <i class="fa fa-arrow-circle-right"></i></span
                    ></a>
                    <a class="btn-style-one theme-btn" href="#"
                      ><span class="txt pr-5"
                        >Renew LGI Policy <i class="fa fa-arrow-circle-right"></i> </span
                    ></a>
                  </div>
                  <div
                    class="slide-arrow scroll-to-target"
                    data-target=".about-section"
                  >
                    <img src="assets/images/icons/slider-arrow.png" alt="" />
                  </div>
                </div>
              </div>

              <!-- Image Column -->
              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div
                  class="pattern-layer-five"
                  style="
                    background-image: url(assets/images/main-slider/pattern-5.png);
                  "
                ></div>
                <div class="inner-column">
                  <div class="image">
                    <img
                      src="assets/images/main-slider/content-image.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Slide 03 -->
        </div>
      </div>
    </section>
    <!-- End Main Slider Section -->

    <!-- About Section -->
    <section
      class="about-section bg-white"
      style="background-image: url(assets/images/background/pattern-2.png)"
    >
      <!-- <div
        class="top-pattern-layer"
        style="background-image: url(assets/images/background/pattern-1.png)"
      ></div> -->
      <div class="auto-container">
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-2">
            <div
              data-depth="0.20"
              class="icon-layer-one"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="image titlt" data-tilt data-tilt-max="2">
                  <img src="assets/images/resource/about.jpg" alt="" />
                  <span class="triangle-one"></span>
                  <span class="triangle-two"></span>
                </div>
              </div>
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="sec-title light">
                  <div class="title">Helping people live safer, more secure lives</div>
                  <h2>Why Beema Dukaan Insurance</h2>
                </div>
                <div class="bold-text">
                  We are a professional and creative company and we offer
                  you a trusty insurance.
                </div>
                <div class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when ang dummy
                  text lorem.
                </div>
                <div class="author-box clearfix">
                  <div class="box-inner">
                    <div class="author-image">
                      <img src="assets/images/resource/author-1.jpg" alt="" />
                    </div>
                    Luiz Mark
                    <span>ceo of carsore</span>
                  </div>
                  <div class="signature">
                    <img src="assets/images/icons/signature.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Services Section -->
    <section class="services-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">our services</div>
          <h2>
            We ensure best insurance services <br />
            for our clients.
          </h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-3">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer-two"
              style="background-image: url(assets/images/background/pattern-4.png)"
            ></div>
          </div>
          <div class="three-item-carousel owl-carousel owl-theme">
            <!-- Service Block -->
            <div class="service-block shadow">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/two-wheeler-insurance"
                    ><img src="assets/images/resource/service-1.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4><a routerLink="/services/two-wheeler-insurance">Two Wheeler Insurance</a></h4>
                  <div class="text">
                    General Insurance Offers Two Wheeler Annual and Multiyear policies.
                  </div>
                  <a routerLink="/services/two-wheeler-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block shadow">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/car-insurance"
                    ><img src="assets/images/resource/service-2.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4><a routerLink="/services/car-insurance">Car Insurance</a></h4>
                  <div class="text">
                    General Insurance offers various online insurance policies and car insurance.
                  </div>
                  <a routerLink="/services/car-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block shadow">
              <div class="inner-box">
                <div class="image">
                  <a routerLink="/services/health-insurance"
                    ><img src="assets/images/resource/service-3.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <h4>
                    <a routerLink="/services/health-insurance">Health Insurance</a>
                  </h4>
                  <div class="text">
                    Your responsible health insurance companion, for best health care.
                  </div>
                  <a routerLink="/services/health-insurance" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <!-- Choose Section -->
    <section class="choose-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
          <div class="title">why us</div>
          <h2>Why Choose Us</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-4">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer-two"
              style="background-image: url(assets/images/background/pattern-4.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="image titlt" data-tilt data-tilt-max="2">
                  <img src="assets/images/resource/choose.jpg" alt="" />
                  <span class="triangle-one"></span>
                  <span class="triangle-two"></span>
                  <!-- Fact Counter -->
                  <div class="fact-counter">
                    <div class="row clearfix">
                      <!-- Column -->
                      <div
                        class="
                          column
                          counter-column
                          col-lg-4 col-md-4 col-sm-4
                        "
                      >
                        <div class="inner">
                          <div class="content">
                            <div class="count-outer count-box">
                              <span
                                class="count-text"
                                data-speed="3000"
                                data-stop="100"
                                >100</span
                              >%
                            </div>
                            <div class="counter-title">
                              Customer <br />
                              satisfaction
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Column -->
                      <div
                        class="
                          column
                          counter-column
                          col-lg-4 col-md-4 col-sm-4
                        "
                      >
                        <div class="inner">
                          <div class="content">
                            <div class="count-outer count-box">
                              <span
                                class="count-text"
                                data-speed="4000"
                                data-stop="200"
                                >1520</span
                              >+
                            </div>
                            <div class="counter-title">
                              Monthly active <br />
                              users
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Column -->
                      <div
                        class="
                          column
                          counter-column
                          col-lg-4 col-md-4 col-sm-4
                        "
                      >
                        <div class="inner">
                          <div class="content">
                            <div class="count-outer count-box">
                              <span
                                class="count-text"
                                data-speed="3000"
                                data-stop="100"
                                >20</span
                              >+
                            </div>
                            <div class="counter-title">
                              New Customer <br />
                              per week
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">

                <div class="list-outer">
                  <ul class="choose-list">
                    <li>
                      <span class="number">1</span>
                      <strong>Compare personalized quotes</strong>
                      Answer a couple of questions, we'll provide accurate
                      live
                    </li>
                    <li>
                      <span class="number">2</span>
                      <strong>Get all discounts in one place</strong>
                      Answer a couple of questions, we'll provide accurate
                      live
                    </li>
                    <li>
                      <span class="number">3</span>
                      <strong>Buy online or on the phone</strong>
                      Answer a couple of questions, we'll provide accurate
                      live
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Choose Section -->

    <!-- Team Section -->
    <section class="team-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">Our Team</div>
          <h2>
            We ensure best insurance services <br />
            for our clients.
          </h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-5">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.40"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer-two"
              style="background-image: url(assets/images/background/pattern-4.png)"
            ></div>
          </div>
          <div class="team-carousel owl-carousel owl-theme">
            <!-- Team Block -->
            <div class="team-block">
              <div class="inner-box">
                <span class="triangle-one"></span>
                <span class="triangle-two"></span>
                <div class="image">
                  <!-- Social Box -->
                  <ul class="social-box">
                    <li>
                      <a
                        href="https://www.facebook.com/"
                        class="fab fa-facebook-f"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.twitter.com/"
                        class="fab fa-twitter"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://google.com/"
                        class="fab fa-google"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/"
                        class="fab fa-linkedin-in"
                      ></a>
                    </li>
                  </ul>

                  <img src="assets/images/resource/team-1.jpg" alt="" />
                  <div class="overlay-box">
                    <h3><a href="team-detail.html">Luiz Hector</a></h3>
                    <div class="designation">CEO of Carsore</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team Block -->
            <div class="team-block">
              <div class="inner-box">
                <span class="triangle-one"></span>
                <span class="triangle-two"></span>
                <div class="image">
                  <!-- Social Box -->
                  <ul class="social-box">
                    <li>
                      <a
                        href="https://www.facebook.com/"
                        class="fab fa-facebook-f"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.twitter.com/"
                        class="fab fa-twitter"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://google.com/"
                        class="fab fa-google"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/"
                        class="fab fa-linkedin-in"
                      ></a>
                    </li>
                  </ul>

                  <img src="assets/images/resource/team-2.jpg" alt="" />
                  <div class="overlay-box">
                    <h3><a href="team-detail.html">Luiz Hector</a></h3>
                    <div class="designation">CEO of Carsore</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team Block -->
            <div class="team-block">
              <div class="inner-box">
                <span class="triangle-one"></span>
                <span class="triangle-two"></span>
                <div class="image">
                  <!-- Social Box -->
                  <ul class="social-box">
                    <li>
                      <a
                        href="https://www.facebook.com/"
                        class="fab fa-facebook-f"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.twitter.com/"
                        class="fab fa-twitter"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://google.com/"
                        class="fab fa-google"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/"
                        class="fab fa-linkedin-in"
                      ></a>
                    </li>
                  </ul>

                  <img src="assets/images/resource/team-3.jpg" alt="" />
                  <div class="overlay-box">
                    <h3><a href="team-detail.html">Luiz Hector</a></h3>
                    <div class="designation">CEO of Carsore</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team Block -->
            <div class="team-block">
              <div class="inner-box">
                <span class="triangle-one"></span>
                <span class="triangle-two"></span>
                <div class="image">
                  <!-- Social Box -->
                  <ul class="social-box">
                    <li>
                      <a
                        href="https://www.facebook.com/"
                        class="fab fa-facebook-f"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.twitter.com/"
                        class="fab fa-twitter"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://google.com/"
                        class="fab fa-google"
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/"
                        class="fab fa-linkedin-in"
                      ></a>
                    </li>
                  </ul>

                  <img src="assets/images/resource/team-4.jpg" alt="" />
                  <div class="overlay-box">
                    <h3><a href="team-detail.html">Luiz Hector</a></h3>
                    <div class="designation">CEO of Carsore</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <!-- Faq's Section -->
    <section class="faq-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">faq</div>
          <h2>Frequently Asked Questions</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-6">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.40"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- Accordion Column -->
            <div class="accordion-column col-lg-6 cl-md-12 col-sm-12">
              <div class="inner-column">
                <!-- Accordian Box -->
                <ul class="accordion-box">
                  <!--Block-->
                  <li class="accordion block shadow" [ngClass]="item.isActive ? 'active-block' : ' ' " (click)="toggleAccordian($event, i)" *ngFor="let item of data; index as i;"> <!--  here we need active-block class -->
                    <div class="acc-btn " [ngClass]="item.isActive ? 'active' : ' ' "> <!--  here we need active class -->
                      <div class="icon-outer">
                        <span class="icon icon-plus fa fa-plus"></span>
                        <span class="icon icon-minus fa fa-minus"></span>
                      </div>
                      {{ item.title }}
                    </div>
                    <div class="acc-content " [ngClass]="item.isActive ? 'current' : ' ' "> <!--  here we need current class -->
                      <div class="content">
                        <div class="text">
                          {{ item.description }}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 cl-md-12 col-sm-12">
              <div
                class="inner-column wow fadeInRight"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image">
                  <span class="triangle-one"></span>
                  <span class="triangle-two"></span>
                  <img src="assets/images/resource/faq.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Faq's Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
      <div class="auto-container">
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-7">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.30"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="image titlt" data-tilt data-tilt-max="2">
                  <img src="assets/images/resource/testimonial.jpg" alt="" />
                  <span class="triangle-one"></span>
                  <span class="triangle-two"></span>
                </div>
              </div>
            </div>

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <!-- Sec Title -->
                <div class="sec-title">
                  <div class="title">feedback</div>
                  <h2>
                    What Clients Says <br />
                    About us?
                  </h2>
                </div>
                <div class="single-item-carousel owl-carousel owl-theme">
                  <!-- Testimonial Block -->
                  <div class="testimonial-block">
                    <div class="inner-box">
                      <div class="quote-icon">
                        <img src="assets/images/icons/quote-icon.png" alt="" />
                      </div>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen.
                      </div>
                      <div class="author-box">
                        <div class="box-inner">
                          <div class="author-image">
                            <img
                              src="assets/images/resource/author-2.jpg"
                              alt=""
                            />
                          </div>
                          Luiz Jenifer<br />
                          <div class="designation">Client</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block -->
                  <div class="testimonial-block">
                    <div class="inner-box">
                      <div class="quote-icon">
                        <img src="assets/images/icons/quote-icon.png" alt="" />
                      </div>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen.
                      </div>
                      <div class="author-box">
                        <div class="box-inner">
                          <div class="author-image">
                            <img
                              src="assets/images/resource/author-2.jpg"
                              alt=""
                            />
                          </div>
                          Luiz Jenifer<br />
                          <div class="designation">Client</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Testimonial Block -->
                  <div class="testimonial-block">
                    <div class="inner-box">
                      <div class="quote-icon">
                        <img src="assets/images/icons/quote-icon.png" alt="" />
                      </div>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen.
                      </div>
                      <div class="author-box">
                        <div class="box-inner">
                          <div class="author-image">
                            <img
                              src="assets/images/resource/author-2.jpg"
                              alt=""
                            />
                          </div>
                          Luiz Jenifer<br />
                          <div class="designation">Client</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Awards Section -->
    <section class="awards-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
          <div class="title">We Achieved</div>
          <h2>Awards & Recognition</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-8">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-3.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- blocks Column -->
            <div class="blocks-column col-lg-6 cl-md-12 col-sm-12">
              <div class="inner-column">
                <div class="row clearfix">
                  <!-- Award Block -->
                  <div class="award-block col-lg-6 col-md-6 col-sm-12">
                    <div
                      class="inner-box wow fadeInLeft"
                      data-wow-delay="0ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="color-layer"></div>
                      <div class="icon flaticon-graduated-1"></div>
                      <h5>
                        <a href="services-detail.html">Best Company</a>
                      </h5>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing.
                      </div>
                    </div>
                  </div>

                  <!-- Award Block -->
                  <div class="award-block col-lg-6 col-md-6 col-sm-12">
                    <div
                      class="inner-box wow fadeInLeft"
                      data-wow-delay="250ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="color-layer"></div>
                      <div class="icon flaticon-bar-chart-1"></div>
                      <h5>
                        <a href="services-detail.html">Growing Business</a>
                      </h5>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing.
                      </div>
                    </div>
                  </div>

                  <!-- Award Block -->
                  <div class="award-block col-lg-6 col-md-6 col-sm-12">
                    <div
                      class="inner-box wow fadeInLeft"
                      data-wow-delay="0ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="color-layer"></div>
                      <div class="icon flaticon-charity"></div>
                      <h5>
                        <a href="services-detail.html">Great Support</a>
                      </h5>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing.
                      </div>
                    </div>
                  </div>

                  <!-- Award Block -->
                  <div class="award-block col-lg-6 col-md-6 col-sm-12">
                    <div
                      class="inner-box wow fadeInLeft"
                      data-wow-delay="250ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="color-layer"></div>
                      <div class="icon flaticon-trophy-1"></div>
                      <h5>
                        <a href="services-detail.html">Excellent Service</a>
                      </h5>
                      <div class="text">
                        Lorem Ipsum is simply dummy text of the printing.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 cl-md-12 col-sm-12">
              <div
                class="inner-column wow fadeInRight"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image">
                  <span class="triangle-one"></span>
                  <span class="triangle-two"></span>
                  <img src="assets/images/resource/award.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Awards Section -->

    <!-- News Section -->
    <section class="news-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">Our blog</div>
          <h2>Read Our Daily Blog</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
          <div class="section-icons-outer parallax-scene-9">
            <div
              data-depth="0.20"
              class="icon-layer"
              style="background-image: url(assets/images/icons/icon-1.png)"
            ></div>
            <div
              data-depth="0.20"
              class="pattern-layer"
              style="background-image: url(assets/images/background/pattern-4.png)"
            ></div>
          </div>
          <div class="row clearfix">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
              <div
                class="inner-box wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image">
                  <a href="services-detail.html"
                    ><img src="assets/images/resource/news-1.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <ul class="post-meta">
                    <li>
                      <span class="icon flaticon-user"></span>22 OCT, 2021
                    </li>
                  </ul>
                  <h4>
                    <a href="services-detail.html"
                      >How to apply on carsore for car insurance ?</a
                    >
                  </h4>
                  <a href="services-detail.html" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
              <div
                class="inner-box wow fadeInUp"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image">
                  <a href="services-detail.html"
                    ><img src="assets/images/resource/news-2.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <ul class="post-meta">
                    <li>
                      <span class="icon flaticon-user"></span>22 OCT, 2021
                    </li>
                  </ul>
                  <h4>
                    <a href="services-detail.html"
                      >How to apply on carsore for car insurance ?</a
                    >
                  </h4>
                  <a href="services-detail.html" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
              <div
                class="inner-box wow fadeInRight"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image">
                  <a href="services-detail.html"
                    ><img src="assets/images/resource/news-3.jpg" alt=""
                  /></a>
                </div>
                <div class="lower-content">
                  <ul class="post-meta">
                    <li>
                      <span class="icon flaticon-user"></span>22 OCT, 2021
                    </li>
                  </ul>
                  <h4>
                    <a href="services-detail.html"
                      >How to apply on carsore for car insurance ?</a
                    >
                  </h4>
                  <a href="services-detail.html" class="read-more"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End News Section -->

    <!-- Clients Section -->
    <section class="clients-section">
      <div class="auto-container">
        <div class="section-icons-outer parallax-scene-10">
          <div
            data-depth="0.50"
            class="pattern-layer"
            style="background-image: url(assets/images/background/pattern-3.png)"
          ></div>
        </div>
        <div class="carousel-outer">
          <!--Sponsors Slider-->
          <ul class="sponsors-carousel owl-carousel owl-theme">
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/1.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/2.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/3.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/4.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/5.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/1.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/2.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/3.png" alt="" /></a>
              </div>
            </li>
            <li>
              <div class="image-box">
                <a href="#"><img src="assets/images/clients/4.png" alt="" /></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End Clients Section -->
    <app-footer></app-footer>

