<app-header></app-header>
        <!-- Page Title -->
        <section class="page-title p-3 " style="background-color: #002244;">
          <div class="background-container">

          </div>
          <div class="service-container">
            <div class="section-icons-outer parallax-scene-1">
              <div
                data-depth="0.20"
                class="pattern-layer"
                style="background-image: url(assets/images/background/pattern-8.png)"
              ></div>
            </div>

            <div class="auto-container">
              <h1>Downloads</h1>
              <ul class="page-breadcrumb">
                <li><a routerLink="/">home</a></li>
                <li>Downloads</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Page Title -->

        <!-- Contact Form Section -->
        <section class="contact-form-section">
          <div class="auto-container">
            <div class="row clearfix">
              <!-- Download Column -->
              <div class="form-column col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="inner-column shadow">
                  <div class="section-icons-outer parallax-scene-3">
                    <div
                      data-depth="0.40"
                      class="pattern-layer"
                      style="
                        background-image: url(assets/images/background/pattern-4.png);
                      "
                    ></div>
                  </div>
                  <h3>Policy 1 form</h3>
                  <p class="text-white mb-1">Download this form and fill this.</p>
                  <p class="text-white small">Published on : 04-01-2022</p>
                  <div class="form-group">
                    <a
                      class="btn btn-primary text-light"
                      download
                    >
                    Download
                  </a>
                  </div>
                </div>
              </div>
              <!-- Download Column -->
              <div class="form-column col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="inner-column shadow">
                  <div class="section-icons-outer parallax-scene-3">
                    <div
                      data-depth="0.40"
                      class="pattern-layer"
                      style="
                        background-image: url(assets/images/background/pattern-4.png);
                      "
                    ></div>
                  </div>
                  <h3>Policy 1 form</h3>
                  <p class="text-white mb-1">Download this form and fill this.</p>
                  <p class="text-white small">Published on : 04-01-2022</p>
                  <div class="form-group">
                    <a
                      class="btn btn-primary text-light"
                      download
                    >
                    Download
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact Form Section -->

<app-footer></app-footer>
