/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.quote-form input::placeholder, .quote-form select::placeholder {
  color: #000 !important;
  font-weight: 600;
}
.quote-form input:-ms-input-placeholder, .quote-form select:-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}
.quote-form input::-ms-input-placeholder, .quote-form select::-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}
.quote-form input, .quote-form select {
background : #ffffff !important;
color : #000 !important;
}
.quote-form .form-group .ui-selectmenu-button.ui-button{
  color : #000 !important;
  background : #fff !important;
  font-weight: 600;
}
.ui-front {
  z-index: 1051 !important;
}
.contactRequestsModal .modal-header, .contactRequestsModal .modal-footer {
  border: none;
}
.contactRequestsModal .bg-btn-pop {
  width: 49%;
  display: flex;
  justify-content: center;
  color: #fff !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.contactRequestsModal .modal-body {
  padding-bottom: 0;
}
.contactRequestsModal .modal-content {
  padding: 20px;
}
@media screen and (min-width : 576px){
  .modal-dialog{
    max-width: 50% !important;
  }
}
.quote-form .bg-btn-pop:before{
  right: 40px !important;
  top: 10px !important;
}
.bg-gray{
  background-color: #e1e1e1 !important;
}
.list-style-number {font-size: 16px;line-height: 30px;}.list-style-number li {margin-bottom: 10px;}
.insurance-block-two {display: flex;flex-direction: column;}.insurance-block-two .inner-box {height: 100%;}
