<app-header></app-header>
<!-- Page Title -->
<section class="page-title">
  <div class="background-container">
    <img
      class="left-image"
      src="assets/images/background/header-left-bg.png"
      alt=""
    />
    <img
      class="right-image"
      src="assets/images/background/about-us-right-bg.png"
      alt=""
    />
  </div>
  <div class="service-container">
    <div class="section-icons-outer parallax-scene-1">
      <div
        data-depth="0.20"
        class="pattern-layer"
        style="background-image: url(images/background/pattern-8.png)"
      ></div>
    </div>

    <div class="auto-container">
      <h1>Vision Mission</h1>
      <ul class="page-breadcrumb">
        <li><a routerLink="/">home</a></li>
        <li>Vision Mission</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->
<!-- page content -->
<!-- About Section -->
<section class="about-section style-two">
  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">
        <div class="content-column col-lg-12 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="sec-title">
              <div class="title">Vision Mission</div>
            </div>
            <div class="bold-text">
              We are a professional and creative company and we offer you
              a trusty insurance on your veicle.
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6 mb-2">
                <h4>Mission:</h4> To become the most admired and trusted upon insurance companies in India, by keeping up with all the promises that we make to you, our customers, by providing the most convenient dealing process, creating sustainable values, and empowering all our employees.
              </div>
              <div class="col-xs-12 col-md-6 mb-2">
                <h4>Vision:</h4> When you think about Liberty General Insurance, think of a company which aims to help people live safer, with more security. To go beyond what other health insurance companies or the car insurance companies in India might offer; to become an attentive and empathetic insurer of choice for the citizens of the country.
              </div>
            </div>
            <!-- <div class="author-box clearfix">
              <div class="box-inner">
                <div class="author-image">
                  <img src="assets/images/resource/author-1.jpg" alt="" />
                </div>
                Luiz Mark
                <span>ceo of carsore</span>
              </div>
              <div class="signature">
                <img src="assets/images/icons/signature-1.png" alt="" />
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<!-- page content -->
<app-footer></app-footer>
