<div class="form-box">
  <div class="img-top">
    <img src="assets/images/background/pattern-top.png" alt="Sign up to beema dukaan" class="top-img">
  </div>
  <main class="form-signin text-center">
    <form [formGroup]="signinForm" (ngSubmit)="signinProcess(signinForm)" novalidate>
      <img class="mb-4" src="assets/images/logo-main.jpeg" alt="" width="150" height="auto">
      <h1 class="h3 mb-3 fw-normal">Welcome!</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email Address" formControlName="email" [ngClass]="{'has-error': formErrors.email}">
        <span class="text-danger" *ngIf="formErrors.email" [innerHTML]="formErrors.email"></span>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password" [ngClass]="{'has-error': formErrors.password}">
        <span class="text-danger" *ngIf="formErrors.password" [innerHTML]="formErrors.password"></span>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <button class="btn btn-primary btn-block mt-3" (click)="authService.signInWithGoogle()">Login in with google</button>
  </main>
  <div class="img-bottom">
    <img src="assets/images/background/pattern-bottom.png" alt="Sign up to beema dukaan" class="top-img">
  </div>
</div>
