    <!-- Main Header-->
    <header class="main-header header-style-two">
      <!-- Header Upper -->
      <div class="header-upper">
        <div class="auto-container">
          <div class="inner-container clearfix">
            <div class="logo-box">
              <div class="logo">
                <a routerLink="/"
                  ><img src="assets/images/logo-main.jpg" alt="" title="Beema Dukaan" class="logo-img"
                /></a>
              </div>
            </div>

            <div class="nav-outer clearfix">
              <!-- Mobile Navigation Toggler -->
              <div class="mobile-nav-toggler">
                <span class="icon flaticon-menu-2"></span>
              </div>
              <!-- Main Menu -->
              <nav class="main-menu navbar-expand-xl">
                <div class="navbar-header">
                  <!-- Toggle Button -->
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div
                  class="navbar-collapse collapse clearfix"
                  id="navbarSupportedContent"
                >
                  <ul class="navigation clearfix">
                    <li class="current">
                      <a routerLink="/">Home</a>
                    </li>
                    <li>
                      <a routerLink="/about-us">About Us</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">Services</a>
                      <ul>
                        <li><a href="services.html">Services</a></li>
                        <li>
                          <a href="services-detail.html">Services Detail</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Blog</a>
                      <ul>
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="news-detail.html">Blog Single</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Team</a>
                      <ul>
                        <li><a href="team.html">Team</a></li>
                        <li>
                          <a href="team-detail.html">Team Detail</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Pages</a>
                      <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms & Condition</a></li>
                        <li>
                          <a href="insurance-form.html">Insurance Form</a>
                        </li>
                        <li><a href="not-found.html">Not Found</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ul>
                </div>
              </nav>

              <!-- Main Menu End-->
              <div class="outer-box clearfix">
                <!-- Phone Btn -->
                <div class="phone-box">
                  <div class="box-inner">
                    <a class="phone" href="tel:+1555-89-7965"
                      >+1555 89 7965
                      <span class="icon flaticon-call-2"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Header Upper-->

      <!-- Sticky Header  -->
      <div class="sticky-header">
        <div class="auto-container clearfix">
          <!--Logo-->
          <div class="logo pull-left">
            <a href="index.html" title=""
              ><img src="assets/images/logo-main.jpg" alt="" title="" class="logo-img-sticky"
            /></a>
          </div>
          <!--Right Col-->
          <div class="pull-right">
            <!-- Mobile Navigation Toggler -->
            <div class="mobile-nav-toggler">
              <span class="icon flaticon-menu-2"></span>
            </div>
            <!-- Main Menu -->
            <nav class="main-menu navbar-expand-md">
              <!-- <div class="navbar-header">
                <!-- Toggle Button -->
            </nav>
            <!-- Main Menu End-->

            <!-- Main Menu End-->
            <div class="outer-box clearfix">
              <!-- Phone Btn -->
              <div class="phone-box">
                <div class="box-inner">
                  <a class="phone" href="tel:+1555-89-7965"
                    >+1555 89 7965 <span class="icon flaticon-call-2"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Sticky Menu -->

      <!-- Mobile Menu  -->
      <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn">
          <span class="icon flaticon-multiply"></span>
        </div>

        <nav class="menu-box">
          <div class="nav-logo">
            <a href="index.html"
              ><img src="assets/images/logo.png" alt="" title=""
            /></a>
          </div>
          <div class="menu-outer">
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
          </div>
        </nav>
      </div>
      <!-- End Mobile Menu -->
    </header>
    <!-- End Main Header -->
