<app-header></app-header>
<!-- Page Title -->
<section class="page-title">
  <div class="background-container">
    <img
      class="left-image"
      src="assets/images/background/header-left-bg.png"
      alt=""
    />
    <img
      class="right-image"
      src="assets/images/background/about-us-right-bg.png"
      alt=""
    />
  </div>
  <div class="service-container">
    <div class="auto-container">
      <h1>Renew Online</h1>
      <ul class="page-breadcrumb">
        <li><a routerLink="/">home</a></li>
        <li>Renew Online</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- About Section -->
<section class="about-section style-two">
  <div class="auto-container bg-white py-4 px-2 shadow">
    <div class="inner-container">
      <div class="form-column col-lg-12 col-md-12 col-sm-12">
        <div class="inner-column">
          <h4 class="mb-3">Policy Owner Info</h4>
          <!-- Login Form -->
          <div class="styled-form">
            <form [formGroup]="renewalForm" (ngSubmit)="getPolicyData()">
              <fieldset>
                <div class="form-group">
                  <label>Enter your Customer ID *</label>
                  <span class="icon flaticon-user-2"></span>
                  <input
                    type="text"
                    name="username"
                    value=""
                    formControlName="premiumNo"
                    placeholder="Premium Number"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Enter your Policy Number *</label>
                  <span class="icon flaticon-edit"></span>
                  <input
                    type="text"
                    name="Policy"
                    value=""
                    formControlName="registrationNo"
                    placeholder="Registration Number"
                    required
                  />
                </div>
              </fieldset>
              <button type="submit" class="btn-style-one text-white">Check Detail</button>
            </form>
          </div>
          <hr>
          <div class="row" *ngIf="showData && policyData">
            <div class="col-12">
              <div class="text">
                <strong>Name : </strong>
                {{ policyData?.name }}
              </div>
              <div class="text">
                <strong>Policy Effective Date : </strong>
                {{policyData?.startDate}}
              </div>
              <div class="text">
                <strong>Registration Number : </strong>
                {{policyData?.registrationNo}}
              </div>
              <div class="text">
                <strong>Policy Cost : </strong>
                {{policyData?.totalPremium}}
              </div>
              <div class="text">
                <strong>Phone Number : </strong>
                {{policyData?.mobileNumber}}
              </div>
              <div class="text" *ngIf="policyData?.policyURl">
                <strong>Policy File : </strong>
                <a [href]="policyData?.policyURl" download><button type="button" class="btn btn-info">Download</button></a>
              </div>
              <button class='btn btn-info' (click)="renewPolicy($event)" *ngIf="allowRenewal(policyData?.lastMonth,policyData?.expiryDate) && policyData?.paid">Renew</button>
            </div>
          </div>
          <div class="row" *ngIf="showData && !(policyData)">
            <h5 *ngIf="renewalForm.value.premiumNo">No data found for premium number {{renewalForm.value.premiumNo}}</h5>
            <h5 *ngIf="renewalForm.value.registrationNo">No data found for registration number {{renewalForm.value.registrationNo}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<app-footer></app-footer>
