<app-header></app-header>
        <!-- Page Title -->
        <section class="page-title">
          <div class="background-container">
            <img
              class="left-image"
              src="assets/images/background/header-left-bg.png"
              alt=""
            />
            <img
              class="right-image"
              src="assets/images/background/service-single-right-bg.png"
              alt=""
            />
          </div>
          <div
            class="service-container"
            style="
              background-image: url('images/background/services-left-bg.html');
            "
          >
            <div class="section-icons-outer parallax-scene-1">
              <div
                data-depth="0.20"
                class="pattern-layer"
                style="background-image: url(images/background/pattern-8.png)"
              ></div>
            </div>

            <div class="auto-container">
              <h1>Other Insurance</h1>
              <ul class="page-breadcrumb">
                <li><a routerLink="/services">Services</a></li>
                <li>Other Insurance</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Page Title -->

                <!-- Insurance Section Two -->
                <section class="insurance-section-two bg-white">
                  <div class="auto-container">
                    <!-- Sec Title -->
                    <div class="sec-title centered">
                      <h2>
                         Types of Other Insurances<br />

                      </h2>
                      <div class="text">
                        We are a professional and creative company and we offer <br />
                        you a trusty insurance on your vehicle.
                      </div>
                    </div>
                    <!-- End Sec Title -->
                    <div class="inner-container">
                      <div class="section-icons-outer parallax-scene-4">
                        <div
                          data-depth="0.20"
                          class="icon-layer"
                          style="background-image: url(images/icons/icon-1.png)"
                        ></div>
                        <div
                          data-depth="0.40"
                          class="pattern-layer"
                          style="background-image: url(images/background/pattern-4.png)"
                        ></div>
                      </div>
                      <div class="clearfix d-flex flex-wrap">
                        <!-- Insurance Block Two -->
                        <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box">
                            <div class="color-layer"></div>
                            <div class="icon flaticon-heart-2"></div>
                            <h4><a (click)="scroll(personalAccident)">Personal Accident Policy</a></h4>
                            <a
                              class="arrow fa fa-angle-right"
                              (click)="scroll(personalAccident)"
                            ></a>
                          </div>
                        </div>

                        <!-- Insurance Block Two -->
                        <div class="insurance-block-two col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box">
                            <div class="color-layer"></div>
                            <div class="icon flaticon-touch"></div>
                            <h4><a (click)="scroll(homeCare)">Home care</a></h4>
                            <a
                              class="arrow fa fa-angle-right"
                              (click)="scroll(homeCare)"
                            ></a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>
                <!-- End Insurance Section Two -->
        <!-- Services Detail Section -->
        <section class="services-detail-section pb-0">
          <div class="auto-container">
            <div class="inner-container">
              <div class="section-icons-outer parallax-scene-2">
                <div
                  data-depth="0.30"
                  class="icon-layer"
                  style="background-image: url(images/icons/icon-1.png)"
                ></div>
                <div
                  data-depth="0.40"
                  class="pattern-layer"
                  style="background-image: url(images/background/pattern-4.png)"
                ></div>
              </div>
              <div class="row clearfix">
                <div class="content-column col-lg-12 mt-5 p-4 shadow rounded bg-white" #personalAccident>
                  <div class="inner-column">
                    <h2 class="mb-3">Personal Accident Policy</h2>
                    <div class="text mb-4">Coming Soon !!</div>
                  </div>
                </div>

                <div class="content-column col-lg-12 mt-5 p-4 shadow rounded bg-white" #homeCare>
                  <div class="inner-column">
                    <h2 class="mb-3">Home care</h2>
                    <h3 class="mb-4">Beema Dukaan's Householder's Policy!</h3>
                    <h5 class="mb-2">HOUSEHOLD INSURANCE</h5>
                    <div class="text">The simple home truths UI Householder's Policy Why must you insure? Why go through all that paperwork and bother? After all, nothing may happen to your home. Right? All the same every household, big or small, needs protection. And secondly, it's really no cumbersome paperwork at all! UI makes sure of that! </div>
                    <div class="text">There are 10 clear-cut sections under the UI Householder's Policy. Each section covers your possessions against different perils. </div>
                      <ol class="ml-3 list-style-number">
                        <li>This section safeguards your home (that is, the actual building and ---I contents). Against fire, natural accidents, even explosion of gas cylinders or bursting of water tanks and pipes. The cover also includes impact damage caused by vehicles, riots, strikes and malicious acts, lightning. </li>
                        <li>Next, the policy covers you against loss or damage arising out of burglary and housebreaking. You can insure all your possessions under this. </li>
                        <li><strong>A really wide cover!</strong> Yes, all kinds of loss or damage to jewellery or valuables is taken care of under this section. </li>
                        <li>Plate glass is a covered against -I accidental breakage. </li>
                        <li>Protection against 3 electrical or mechanical breakdown of domestic appliances such as mixer, washing machine etc. </li>
                        <li>A cover for your TV and Computer against Fo breakdown, fire and burglary. Also against legal liability or damage arising out of collapse of antenna!</li>
                        <li>Pedal cycles get covered here against fire and theft. Legal liability is covered too. </li>
                        <li>Baggage insurance. Yes, loss or damage of your baggage while travelling in India gets covered. </li>
                        <li>Personal accident insurance resulting in death/injury to you/your family also comes under the purview of this policy. Insure your most valuable asset -your family! </li>
                        <li>Lastly, you're protected 1 against personal liability out of accidents to Public/Domestic help. Put together, all these sections make the UI Householder's Policy a safe, sure, secure option. </li>
                      </ol>
                    <h5 class="mb-2 mt-5">FILL RIGHT, CLAIM RIGHT </h5>
                    <ol class="ml-3 list-style-number">
                      <li><strong>Here's how to get the most out of your policy while claiming.</strong> • If there's a fire or burglary, inform the police at once and obtain an FIR. </li>
                      <li><strong>Contact the policy.</strong> issuing office immediately and submit the claim form. </li>
                      <li>Do give accurate details of items lost or damaged to the surveyor. • Remember the more sections you opt for, the higher the discounts on your premium! •  </li>
                      <li>Contact any one of our 1400+ offices throughout the country for more details. </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Services Detail Section -->



        <!-- Blog Section -->
        <section class="pricing-section">
          <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
              <h2>
                Read our blogs for more information

              </h2>
            </div>
            <!-- End Sec Title -->
            <div class="inner-container">
                <div class="row clearfix">
                  <!-- News Block -->
                  <div class="news-block col-lg-4 col-md-6 col-sm-12 " *ngFor="let blog of blogs; index as i;">
                    <div
                      class="inner-box wow fadeInLeft shadow"
                      data-wow-delay="0ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="image">
                        <a [routerLink]="['/blogs', blog.id]"
                          ><img src="{{ blog.image }}" alt="{{ blog.name }}"
                        /></a>
                      </div>
                      <div class="lower-content">
                        <ul class="post-meta">
                          <li>
                            <span class="icon flaticon-user"></span>{{ blog.date }}
                          </li>
                        </ul>
                        <h4>
                          <a [routerLink]="['/blogs', blog.id]"
                            >{{ blog.name }}</a
                          >
                        </h4>
                        <a [routerLink]="['/blogs', blog.id]" class="read-more">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
       </section>
  <!-- End Blog Section -->
<app-footer></app-footer>
